<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">

<!--      <meta name='viewport' content='width=device-width, initial-scale=1.0'>
 -->  
  <meta name='description' content='A simple crud app made with the vue js and django'>
  <meta name='keywords' content='vuejs, django, crudapp, restapi , store ,inventory'>

    <meta name="author" content="">
<!--     <link rel="icon" href="../../../../favicon.ico">
 -->
    <title>Dashboard Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <!-- Custom styles for this template -->

 {% load static %}
<link rel="stylesheet" href="{% static "css/dashboard.css" %}" />
<style type="text/css">
	
	[v-cloak]{
		display: none;
	}

	::-webkit-scrollbar {
display: none;}

	li {
		overflow: auto;
	}

</style>

{%block style%}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


{%endblock%}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">


  </head>

  <body>
{%block inputsearch%}

   <div id="searchsaledash">
    
    <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow row ">
      <a class="navbar-brand col-2 col-sm-2 col-md-2 col-lg-2  mr-0 " href="#">Oceanic : {{user.username}}
      </a>
      <input class="form-control form-control-dark col-5 col-sm-5 col-md-8 col-lg-8 w-100" type="text" placeholder="Search" aria-label="Search" v-model="searchfiledsaledash" v-on:keyup.enter="getOrderDash">
      <button class='btn btn-outline-secondary my-2 my-sm-0 col-2 col-sm-2 col-md-1 col-lg-1' v-cloak v-on:click.prevent="getOrderDash()">search</button>
      <ul class="navbar-nav px-3 col-3 col-sm-3 col-md-1 col-lg-1">
        <li class="nav-item text-nowrap ">
          <a class="nav-link" href="/login/">Sign out</a>
        </li>
      </ul>
    </nav>

  </div>
    {%endblock%}

    <div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 bg-light sidebar w3-sidebar w3-bar-block w3-collapse w3-card w3-animate-left " style="width:200px;" id="mySidebar">
         <button class="w3-bar-item w3-button w3-large w3-hide-large" onclick="w3_close()"> &#9776;</button>
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
            {%if user.employee.employee_privillage <= 2 %}              <li class="nav-item">
                <a class="nav-link " href="{%url 'base'%}">
                  <span data-feather="home"></span>
                  Dashboard <span class="sr-only">(current)</span>
                </a>
              </li>
              {%endif%}
              {%if user.employee.employee_privillage <= 2 or user.employee.employee_privillage == 3%}
              <li class="nav-item">
                <a class="nav-link" href="{%url 'order' %}">
                  <span data-feather="file"></span>
                  Orders
                </a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="{%url 'customer' %}">
                  <span data-feather="file"></span>
                  Customers
                </a>
              </li>
              {%endif%}
              {%if user.employee.employee_privillage <= 2 %}
              <li class="nav-item">
                <a class="nav-link" href="{%url 'product' %}">
                  <span data-feather="shopping-cart"></span>
                  Products
                </a>
              </li>
              {%endif%}
              {%if user.employee.employee_privillage <= 2 or user.employee.employee_privillage == 4 %}
              <li class="nav-item">
                <a class="nav-link" href="{%url 'expense' %}">
                  <span data-feather="users"></span>
                  Expenses
                </a>
              </li>
              {%endif%}
              {%if user.employee.employee_privillage <= 2 or user.employee.employee_privillage == 5 %}
              <li class="nav-item">
                <a class="nav-link" href="{%url 'counter' %}">
                  <span data-feather="users"></span>
                  Stock
                </a>
              </li>
              {%endif%}


            </ul>

            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
              <span>OTHERS</span>
              <a class="d-flex align-items-center text-muted" href="#">
                <span data-feather="plus-circle"></span>
              </a>
            </h6>
            <ul class="nav flex-column mb-2">
            {%if user.employee.employee_privillage <= 2 %}
              <li class="nav-item">
                <a class="nav-link" href="{%url 'authorize' %}">
                  <span data-feather="file-text"></span>
                  Authorize
                </a>
              </li>
              {%endif%}
              <li class="nav-item">
                <a class="nav-link" href="{%url 'profile' %}">
                  <span data-feather="file-text"></span>
                  Profile
                </a>
              </li>
              
              {%if user.employee.employee_privillage <= 2 %}
              <li class="nav-item">
                <a class="nav-link" href="{%url 'settings' %}">
                  <span data-feather="file-text"></span>
                  Settings
                </a>
              </li>

              {%endif%}
              
              
            </ul>
          </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4 w3-main" style="margin-left:200px">
        <div class="w3-dark">
  <button class="w3-button w3-dark w3-xlarge w3-hide-large" onclick="w3_open()">&#9776;</button>
</div>
        {%block content%}
        

          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom" id="search">
            <h1 class="h2" v-cloak> [[totalsale]]</h1>
            <div class="btn-toolbar mb-2 mb-md-0">
       <!--        <div class="btn-group mr-2">
                <button class="btn btn-sm btn-outline-secondary">Share</button>
                <button class="btn btn-sm btn-outline-secondary">Export</button>
              </div> -->


          <div class="dropdown">
		  <button class="btn btn-outline-dark dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		   <span data-feather="calendar"></span>
		                Sales
		  </button>
		  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
		    <a class="dropdown-item" href="#" v-on:click="filterDate('all')">All</a>
		    <a class="dropdown-item" href="#" v-on:click="filterDate('thisweek')">This week </a>
		    <a class="dropdown-item" href="#" v-on:click="filterDate('thismonth')">This Month</a>
		    <a class="dropdown-item" href="#" v-on:click="filterDate('last7days')">Last 7 Days</a>
		    <a class="dropdown-item" href="#" v-on:click="filterDate('today')">Today</a>
		    <a class="dropdown-item" href="#" v-on:click="filterDate('yesterday')">Yesterday</a>

		  </div>
			</div>
            </div>
          </div>

          <canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas>

          <div id="salestable">

          <h2 v-cloak>[[tablename]] </h2>
          <div class="table-responsive">
            <table class="table table-striped table-sm">
   	  <thead>
    <tr>
      <th scope="col">No</th>
      <th scope="col">Date</th>
      <th scope="col">Seller</th>
      <th scope="col">Customer</th>

      <th scope="col">Product Name</th>
      <th scope="col">Quantity</th>
      <th scope="col">Cost</th>
      <th scope="col">Paid</th>
      <th scope="col">Issuer</th>
      <th scope="col">Issued</th>
    </tr>
  </thead>
  <tbody>
    <tr v-for="sale in sales" v-if="sale.sales_authorized" v-cloak>
      <th scope="row" v-cloak>[[sale.id]]</th>
      <td v-cloak> [[parseDate(sale.created_at)]] </td>
      <td v-cloak v-for="user in users" v-if="user.id==sale.user"> <span v-for="employee in employees" v-if="employee.user == user.id" v-cloak>
      	[[employee.employee_firstname]]
      </span>
      </td>
      <td v-cloak v-for="customer in customers" v-if="sale.customer == customer.id">  [[customer.customer_name]]</td>
<!--       <td v-cloak>  Issuer</td>
 -->      <td v-if="item.id == sale.item" v-for ="item in items" v-cloak>[[item.item_name]]</td>
      <td v-cloak>[[sale.sales_quantity]]</td>
      <td v-cloak>[[sale.sales_amount]]</td>
      <td v-cloak>[[sale.sales_method_payment]]</td>
<!-- issuers row -->
		<td v-cloak>
		<span v-cloak v-for="user in users" v-if="user.id==sale.issueuser" >
       	<span v-for="employee in employees" v-if="sale.sales_issue_item && employee.user == user.id" v-cloak>[[employee.employee_firstname]]</span>
       </span>
			
		</td>
       

	  <td v-cloak v-if="sale.sales_issue_item">
	  <i class="fa fa-check" style="font-size:24;color:green;"></i>
	   </td>
	  <td v-cloak v-if="!sale.sales_issue_item"> <i class="fa fa-close" style="font-size:24px;color:red"></i></td>
      
    </tr>
    
  </tbody>
            </table>
          </div>
          	

          </div>
          
          

{%endblock%}
        </main>


        
      </div>
    </div>

        <script>
function w3_open() {
    document.getElementById("mySidebar").style.display = "block";
    // alert("open");
}
function w3_close() {
    document.getElementById("mySidebar").style.display = "none";
    // alert("close");
}
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/notify/0.4.2/notify.min.js"></script>



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script> -->

    <script src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js' integrity='sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q' crossorigin='anonymous'></script>
   <script src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js' integrity='sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl' crossorigin='anonymous'></script>

    <!-- Icons -->
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <script>
      feather.replace()
    </script>

    <!-- Graphs -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>

    
<script>
var endpoint ='graph/data'
var label=[]
var dataset=[]
$.ajax({
	method:'GET',
	url:endpoint,
	success:function(data){
		console.log(data.order_id)
		dataset=data.data
		label=data.label

      var ctx = document.getElementById("myChart");

	  setGraph(ctx)

	},
	error:function(error){
		console.log(error)

	}
})


function setGraph(ctx){

      var myChart = new Chart(ctx, {
        type: 'line',
        data: {
          labels: label,
          datasets: [{
            data: dataset,
            lineTension: 0,
            backgroundColor: 'transparent',
            borderColor: '#007bff',
            borderWidth: 4,
            pointBackgroundColor: '#007bff'
          }]
        },
        options: {
          scales: {
            yAxes: [{
              ticks: {
                beginAtZero: false
              }
            }]
          },
          legend: {
            display: false,
          }
        }
      });
}

</script>
    <script>

    </script>
    


      <!-- vue.js files--> 
<!--   <script src='https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js'></script>
 -->  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

   <script src='https://cdn.jsdelivr.net/npm/vue-resource@1.3.5'></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.15.2/axios.js"></script>

   <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.10/lodash.core.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.2.0/js.cookie.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/moment@2.22.2/moment.min.js"></script>
<script type="text/javascript">
	// $.notify('i am here');

</script>
    

 <script>
    moment().format();
</script>
   {%block script%}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
     <script >
   	vmsearch=new Vue({
  delimiters: ['[[', ']]'],
  el: '#search',
  data: {
    search: '',
    totalsale:'',

       
  },
  methods:{
  	filterDate:function(span){
  		vmsale.filterDate(span);
  	}
  	

  },
  beforeMount(){
  	}
  
})


new Vue({
  delimiters: ['[[', ']]'],
  el: '#searchsaledash',
  data:{
    searchfiledsaledash:'',
    title:''

  },methods:{
    getOrderDash:function(){
           let api_url='/api/sale';
      if(this.searchfiledsaledash!==''||this.searchfiledsaledash!==null){
        api_url='/api/sale/?search='+this.searchfiledsaledash;
      }

     this.$http.get(api_url)
     .then(function(response){

      vmsale.sales=response.data

      if(vmsale.filterlastseven)
  		 	vmsale.sales=vmsale.getFilteredSale(vmsale.sales,'last7days');
  		 	else if(vmsale.filterthismonth)
  		 	vmsale.sales=vmsale.getFilteredSale(vmsale.sales,'thismonth');
  		 	else if(vmsale.filterthisweek)
  		 	vmsale.sales=vmsale.getFilteredSale(vmsale.sales,'thisweek');
  		 	else if(vmsale.filterall)
  		 	vmsale.sales=vmsale.getFilteredSale(vmsale.sales,'all');
  		 	else if(vmsale.filtertoday)
  		 	vmsale.sales=vmsale.getFilteredSale(vmsale.sales,'today');
  		 	else if(vmsale.filteryesterday)
  		 	vmsale.sales=vmsale.getFilteredSale(vmsale.sales,'yesterday');

  		 	vmsale.totalsale=vmsale.getToatalSales(vmsale.sales)
  		 	vmsearch.totalsale=vmsale.totalsale
      // this.alertOnMininumIrem(this.items)
     })
     .catch(function(error){
      this.title='error getting items'
     })
    }
  }


})

   	
   	vmsale=new Vue({
  delimiters: ['[[', ']]'],
  el: '#salestable',
  data:{
  	tablename:'Sales',
  	sales:'',
  	title:'',
    totalsale:0,
    itemuser:'',
    items:'',
	users:'',
	employees:'',
	customers:'',
	filtertoday:false,
	filterall:false,
	filteryesterday:false,
	filterthisweek:false,
	filterthismonth:false,
	filterlastseven:true,
  },
  methods:{
  	getSales:function(){
  		this.title='fetching data'
  		// this function is overwritten to get all sales regardless of the user requesting this object
  		 this.$http.get('/api/sale/')
  		 .then(function(response){
  		 	this.sales=response.data
  		 	this.title='data fetched'
  		 	// this.itemuser= response.data.userid

  		 	if(this.filterlastseven)
  		 	this.sales=this.getFilteredSale(this.sales,'last7days');
  		 	else if(this.filterthismonth)
  		 	this.sales=this.getFilteredSale(this.sales,'thismonth');
  		 	else if(this.filterthisweek)
  		 	this.sales=this.getFilteredSale(this.sales,'thisweek');
  		 	else if(this.filterall)
  		 	this.sales=this.getFilteredSale(this.sales,'all');
  		 	else if(this.filtertoday)
  		 	this.sales=this.getFilteredSale(this.sales,'today');
  		 	else if(this.filteryesterday)
  		 	this.sales=this.getFilteredSale(this.sales,'yesterday');

  		 	this.totalsale=this.getToatalSales(this.sales)
  		 	vmsearch.totalsale=this.totalsale
  		 })
  		 .catch(function(error){
  		 	this.title='error getting salse'
  		 })
  	},
  	getToatalSales:function(sales){

  		var amount=0;  	
		$.each(sales,function(key, value) {
			     if(value.sales_received && value.sales_authorized){
			     	amount+=value.sales_amount
				     }
				 });
		amount = 'Tsh' + amount.toFixed(2).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,");
		return amount;
  	},
  	  	getItems:function(){
		 this.$http.get('/api/item')
		 .then(function(response){
		 	this.items=response.data
		 })
		 .catch(function(error){
		 	this.title='error getting items'
		 })
  	},
  	getUsers:function(){
		 this.$http.get('/api/user')
		 .then(function(response){
		 	this.users=response.data
		 })
		 .catch(function(error){
		 	this.title='error getting items'
		 })
  	},
  	getEmployees:function(){
		 this.$http.get('/api/employee')
		 .then(function(response){
		 	this.employees=response.data
		 })
		 .catch(function(error){
		 	this.title='error getting items'
		 })
  	},
  	getCustomers:function(){
		 this.$http.get('/api/customer')
		 .then(function(response){
		 	this.customers=response.data
		 })
		 .catch(function(error){
		 	this.title='error getting items'
		 })
  	},
  	parseDate:function(date){
  		
  		return moment(date).format('LLLL')

  	},
  	getFilteredSale:function(sales,key){
  			// filters sales for the past seven days
  		var today=moment();
  		var newsale;
  		// this.getSales();
  		if(key=='last7days'){
  			// alert(key)
  			var lastsevendays=moment().subtract(7,'d');
  		newsale = sales.filter(function(sale){
  			return moment(sale.created_at).isBetween(lastsevendays,today)
  		})

  		}else if (key=='thisweek'){
  			console.log(key)
  			
  		newsale = sales.filter(function(sale){
  			return moment(sale.created_at).isSame(today,'week')
  		})

  		}else if (key=='today'){
  			console.log(key)
  			newsale = sales.filter(function(sale){
  			return moment(sale.created_at).isSame(today,'day')})
  			
  		}else if (key=='yesterday'){
  			console.log(key)
  		var yesterday=moment().subtract(1,'d');
  		newsale=sales.filter(function(sale){

  			return moment(sale.created_at).isSame(yesterday,'day')
  		})

  			
  		}else if (key=='thismonth'){
  			console.log(key)
  			newsale = sales.filter(function(sale){
  			return moment(sale.created_at).isSame(today,'month')
  		})
  			
  		}else if (key=='all'){
  			console.log(key)
  			newsale=sales;
  			
  		}
  		
		// alert(newsale)

		return newsale;

  	},
  	filterDate:function(key){
  		// filters sales for the past seven days
   		this.filtertoday=false;
		this.filterall=false;
		this.filteryesterday=false;
		this.filterthisweek=false;
		this.filterthismonth=false;
		this.filterlastseven=false;
  		// this.getSales();
  		if(key=='last7days')
  		this.filterlastseven=true;
  		else if (key=='thisweek')
  		this.filterthisweek=true;
		else if (key=='today')
  		this.filtertoday=true;	
  		else if (key=='yesterday')
  		this.filteryesterday=true;
  		else if (key=='thismonth')  	
  		this.filterthismonth=true;
		else if (key=='all')
  		this.filterall=true;

  		this.getSales();
  				
		
  		
  	},
  	lastSeven:function(date){
  		lastweek=moment('2018-07-8').subtract(7,'d')
  		if(moment(date).isBetween(lastweek,'2018-07-30')){
  			majic='week';
  		}else majic='not week';
  	},
  	thisWeek:function(){
  		// filters sales for this week
  		var sales=this.sales;
  		newsale = this.sales.filter(function(sale){
  			return moment(sale.created_at).isSame(moment(),'week')
  		})
  		this.sales=newsale;

  		

  	},thisMonth:function(date){
  		datex='2018-07-30';
  		return moment(date).isSame(datex,'week')+" "+moment(date).format('LLLL');

  	},getUserid:function(){
      this.$http.get('/api/company')
     .then(function(response){
      // this.company=response.data.serial
      this.itemuser=response.data.userid
      
     })
     .catch(function(error){
      this.title='error getting items'
     })
    }

  },
  beforeMount(){
  		this.getUserid()
  		this.getSales()
  		this.getItems()
  		this.getUsers()
  		this.getEmployees()
		this.getCustomers()
  	}

   	})
   </script>

   {%endblock%}


  </body>
</html>
